.login-body
{
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	webkit-background-size: cover;
	font-family: 'Raleway', sans-serif !important;
}
.login-div
{
	margin-top: -30px;
}
.system-name
{
	height: 150px;
	margin-bottom: 10px;
}
#user-type
{
	height: 40px;
	width: 100%;
}
.login-logo
{
	height: 90px;
	margin: auto;
	padding-top: 10px;
	width: 128px;
}
.login-logo img
{
	height: 90px;
	width: 128px;
}
.system-name h3
{
	color: #fff;
	font-family: 'Raleway', sans-serif !important;
	text-align: center;

}
fieldset
{
	border: 0;
}
label
{
	display: block;
	margin: 30px 0 0 0;
}
select
{
	width: 200px;
}
.overflow
{
	height: 200px;
}
.login-panel
{
	min-height: 330px;
/*	position: absolute;*/
	top: 25%;
	background-color: #fff;
	-webkit-box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	border-radius: 0;
	border: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;

/*	background: rgba(0,0,0,.2);
	border-radius: 0px;
	height: 235px;*/
}
.login-panel h1 , .login-panel h2 , .login-panel h3
{
	color: #fff;
	font-size: 18px;
	padding-top: 15px;
	text-align: center;
	text-transform: uppercase;
}
.my-form
{
	margin-top: 30px;
}

.auth-header {
    text-align: center;
    background: none repeat scroll 0 0 #466b91;
    border-bottom: 1px solid #466b91;
}

.auth-content {
    padding: 0px 5px 20px 5px;
/*    min-height: 260px;*/
}

.auth-title {
    padding: 0px 0px 12px 0px !important;
    line-height: 28px;
    font-weight: 600;
    margin: 0;

    font-size: 18px; 
    color: #fff; 
    margin-bottom: 5px;
}

.auth-btn{
	margin-top: 50px !important;
}

.auth-header img {
    width: 80px;
    margin: 10px;
}

.form-control {
     color: #3e3d3d !important;
     font-size: 16px !important;
}

.my-control
{
  color: #7b7777;
/*	color: #fff;*/
}
.my-btn
{
	display: block;
	margin-top: 20px;
	width:100%;
}

.my-btn:hover
{
/*background:rgba(0,0,0,.4);*/
}
::-webkit-input-placeholder
{
	color: #ecf0f1;
}
:-moz-placeholder
{
	color: #ecf0f1;
	opacity: 1;
}
::-moz-placeholder
{
	color: #ecf0f1;
	opacity: 1;
}
:-ms-input-placeholder
{
	color: #ecf0f1;
}

.ajax-notify{display:none;}
.loading{
	background-image: url("../images/loading.gif");
	background-repeat: no-repeat;
	background-position: center;

}
.my-btn:focus {
  outline: none;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.block-ui{    
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    z-index: 100;
    position: fixed;
    top:0;
    display:none;
}
.spinner {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -25px;
}

.spinner > div {
  background-color: #23c6c8;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
@media screen and (max-width: 768px)
{
.login-div
{
	margin-top: 0px;
}

}